@using Microsoft.AspNet.Identity
@model RaidCalenderWithIdentity.Models.IndexViewModel
@{
    ViewBag.Title = "Ändere dein Profil";
}
<style>
    #user_profil {
        display: flex;
        flex-direction: column;
        background: #f9f9f9;
    }

        #user_profil div {
            display: -webkit-box;
            margin-bottom:15px;
        }
</style>
<h2>@ViewBag.Title.</h2>
<div ng-app="user" ng-controller="UserCharController as CharCtrl">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div id="user_profil">
        <header>
            <h2>Profil:</h2>
        </header>
        <main class="main">
            <div>
                <label class="col-md-3 control-label">Username:</label>
                <div class="col-md-6">
                    @User.Identity.GetUserName()
                </div>
            </div>
            <div>
                <label class="col-md-3 control-label">Passwort:</label>
                <div class="col-md-6">
                    <a href="@Url.Action("ChangePassword","Manage")" class="btn btn-info btn-sm" target="_blank">
                        <span class="glyphicon glyphicon-pencil"></span> Ändern
                        @*@if (Model.HasPassword)
                            {
                                @Html.ActionLink("Ändere dein Passwort", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Erstellen", "SetPassword")
                            }*@
                    </a>
                </div>
            </div>
            <div>
                <label class="col-md-3 control-label">External Logins: @Model.Logins.Count</label>
                <div class="col-md-6">
                    <a href="@Url.Action("ManageLogins","Manage")" class="btn btn-info btn-sm" target="_blank">
                        <span class="glyphicon glyphicon-edit"></span> Ändern
                    </a>
                </div>
            </div>
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@

            <div>
                <label class="col-md-3 control-label">Two-Factor Authentication:</label>
                <div class="col-md-6">
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </div>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </div>
            <div>
                <label class="col-md-3 control-label">Charaktere</label>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rasse</th>
                                <th>Klasse</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody id="addChar_table_body">
                            <tr ng-repeat="char in charlist">
                                <td>
                                    <img title='{{char.rasse_name}}' src='@Url.Content("~/img/rassen/"){{char.rasse_img}}' alt='{{char.rasse_name}}' />
                                </td>
                                <td>
                                    <img title='{{char.klasse_name}}' src="@Url.Content("~/img/klassen/"){{char.klasse_img}}" alt='{{char.klasse_name}}' />
                                <td>
                                    <label title='Klasse'>{{char.char_name}}</label>
                                </td>
                                <td>
                                    <button class='fa fa-trash' aria-hidden='true' ng-click='deleteChar(char.Klasse2User_Id, $index)'></button>
                                </td>
                            </tr>
                            <newChars></newChars>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <button id="addChar" class="btn btn-info btn-sm" target="_blank">
                        <span class="glyphicon glyphicon-plus-sign"></span> Hinzufügen
                    </button>
                </div>
            </div>
        </main>
    </div>
    <div id="addCharWindow" class="modal">
        <!-- Modal content -->
        <div class="modal-content">

            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <form name="addCharForm" class="modal-body" novalidate>
                <div class="row">
                    <div>
                        <label class="col-md-3 control-label">Rasse:</label>
                        <select ng-model="user.char.selectedRasse" ng-options="item.Bezeichnung for item in rassen track by item.Rasse_Id" class='form-control' required>
                            @*<option value="">Wählen eine Rasse...</option>*@
                        </select>
                    </div>
                    <div>
                        <label class="col-md-3 control-label">Klasse:</label>
                        <select ng-model="user.char.selectedKlasse" ng-options="item.Bezeichnung for item in klassen track by item.Klasse_Id" class='form-control' required></select>
                    </div>
                    <div>
                        <label class="col-md-3 control-label">Name:</label>

                        <input ng-model="user.char.name" class="form-control" placeholder="Hier den Namen eingeben..." required>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <input type="button" ng-click="reset()" class="btn btn-primary pull-right" value="Zurücksetzen" id="reset" />
                <input ng-click="update(user)" class="btn btn-primary pull-right" ng-disabled="addCharForm.$invalid" value="Speichern" />
            </div>
        </div>

    </div>
</div>
<script>
    $("#addChar").click(function () {
        $("#addCharWindow.modal").css("display", "block");
    });
    var eventApp = angular.module('user', []);
    eventApp.controller('UserCharController', ['$scope', '$http', '$compile', function ($scope, $http, $compile) {
        $http.get('/Gw2RaidCalender/GetUserCharsByCurrentUser').then(function (result) {
            $scope.charlist = result.data;
        });
        $http({
            method: 'GET',
            url: '/Gw2RaidCalender/GetAllRace'
        }).then(function successCallback(result) {
            $scope.rassen = result.data;
        }, function errorCallback(result) {
        });
        $http({
            methode: 'GET',
            url: '/Gw2RaidCalender/GetAllClasses',
        }).then(function successCallback(result) {
            $scope.klassen = result.data;
        });
        $scope.update = function (user) {
            if ($scope.addCharForm.$valid) {
                
                //Generiere neue Klasse2UserId, damit die Neuerstellte Zeile auch gelöscht werden kann
                $http.post('/Gw2RaidCalender/AddNewCharToUser', {
                    klasse_id: user.char.selectedKlasse.Klasse_Id,
                    rasse_id : user.char.selectedRasse.Rasse_Id,
                    bezeichnung : user.char.name
                }).then(function successCallback(data) {
                    //Konvertierung des Json Objekts, damit es auf der Oberfläche direkt angezeigt werden kann. Das die Namen anders sind durch die Drop downs
                    var char = { klasse_name: user.char.selectedKlasse.Bezeichnung, klasse_img: user.char.selectedKlasse.Avatarlink, rasse_name: user.char.selectedRasse.Bezeichnung, rasse_img: user.char.selectedRasse.Avatarlink, char_name: user.char.name }
                    $scope.charlist.push(char);
                    $scope.charlist.reload();
                }),
                    function errorCallback(result) {
                    };
            
                $scope.user = {};
                ////Close the Window and reset the create form
                $("#addCharWindow.modal").css("display", "none");
            }
        };
        //ERROR: Man kann den neuesten Eintrag nicht löschen, da noch keine 
        $scope.deleteChar = function (char_id, index) {
            var jsonOfCharlist = $scope.charlist;
            if (confirm('Are you sure you want to delete this?')) {
                    var charlist = $scope.charlist;
                $http.post('/Gw2RaidCalender/DeleteChar', { id: char_id })
                    .then(function (data, status, headers) {
                        //Löscht die Zeile an der Oberfläche
                        charlist.splice(index, 1)
                        $scope.charlist = charlist;
                    });
            }
            else {
                e.stopImmediatePropagation();
                e.preventDefault();
                return false;
            }
        }
        $scope.reset = function () {
            //reset all inputs
            $scope.user = {};
        };

        //$scope.reset();
    }]);
</script>
